<!DOCTYPE html>
<html>
<head>
  <title>Railstime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3834613-14"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-3834613-14');
  </script>
</head>
<body>
<%= react_component 'MainNav', (@user_info or {}) %>
<%= react_component 'Sidenav', (@user_info or {}) %>
<%= yield %>

</body>
</html>
